<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bjfu.journal.mapper.SysOpLogMapper">

  <insert id="insert" parameterType="SysOpLog" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO sys_op_log(user_id, username, op_type, module, action, method, path, req_params, success, error_msg, cost_ms, created_at)
    VALUES(#{userId}, #{username}, #{opType}, #{module}, #{action}, #{method}, #{path}, #{reqParams}, #{success}, #{errorMsg}, #{costMs}, SYSDATETIME())
  </insert>

  <select id="list" resultType="SysOpLog">
    SELECT TOP 200 * FROM sys_op_log
    <where>
      <if test="username != null and username != ''">
        username = #{username}
      </if>
      <if test="module != null and module != ''">
        AND module = #{module}
      </if>
    </where>
    ORDER BY created_at DESC
  </select>

</mapper>
